@use "../../../../styles/utils" as *;

.new-message-form-container {
    margin-block: auto;
    margin-inline: auto;
    max-width: breakpoint("mobile");
    padding: var(--c--theme--spacings--base);
    max-height: 100%;
    overflow-y: auto;
}

.new-message-form-container h1 {
    margin-block: var(--c--theme--spacings--md) var(--c--theme--spacings--xl);
}

@media (max-width: breakpoint("tablet")) {
    .new-message-form-container h1 {
        margin-block: var(--c--theme--spacings--sm) var(--c--theme--spacings--md);
    }
}
